* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  background-color: #ffffff;
}
.container header {
  background-color: #4c6a2d;
  text-align: center;
  border-radius: 20px;
  height: 500px;
  margin-top: 20px;
  padding-top: 10px;
}
.container header .sign-up {
  width: 20%;
  margin-left: 40%;
  border: 3px solid greenyellow;
  border-radius: 15px;
  font-size: 2rem;
  padding: 5px 0;
  background-color: yellow;
}
.container header .sign-up a:hover {
  border-radius: 10px;
  background-color: #4c6a2d;
}
.container header nav {
  display: flex;
  justify-content: space-around;
}
.container header a {
  text-decoration: none;
  color: darkorange;
}
.container header .top-img {
  margin-top: 20px;
  width: 80%;
  height: 75%;
  border-radius: 30px;
  border: 2px solid black;
}
@media (max-width: 500px) {
  .container header .top-img {
    display: none;
  }
}
.container header h1 {
  color: yellow;
  font-size: 7rem;
  padding-left: 0;
}
.container header h3 {
  color: orange;
  font-size: 1.6rem;
  margin-bottom: 1%;
}
.container .middle-content {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
}
@media (max-width: 500px) {
  .container .middle-content {
    margin-top: 20px;
  }
}
.container .middle-content .middle-img {
  border-radius: 40px;
  width: 45%;
  height: 45%;
}
.container .lower-content {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 25px;
}
.container .lower-content .lower-img {
  width: 45%;
  height: 45%;
  border-radius: 40px;
}
.container .lower-content .text-content {
  width: 60%;
  padding-right: 100px;
  padding-left: 20px;
}
@media (max-width: 500px) {
  .container .lower-content .text-content {
    width: 60%;
    margin-left: 20px;
  }
}
.container .text-content {
  width: 85%;
  padding-left: 30px;
  padding-right: 20px;
}
.container p {
  font-size: 1.5rem;
  line-height: 50px;
}
@media (max-width: 500px) {
  .container p {
    line-height: 20px;
    font-size: 1rem;
  }
}
.container .bottom-text-content {
  text-align: center;
}
.container .bottom-text-content h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 60px;
  color: orange;
}
@media (max-width: 500px) {
  .container .bottom-text-content h2 {
    margin-top: 10px;
  }
}
.container .bottom-image img {
  height: 300px;
  width: 100%;
  border-radius: 20px;
  border: 4px solid #4c6a2d;
  margin-bottom: 40px;
  margin-top: 40px;
}
.container .bottom-img img {
  border-radius: 40px;
  height: 50%;
  margin-left: 10%;
  margin-top: 30px;
}
.about {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  background-color: whitesmoke;
}
.about header {
  height: 16%;
  background-color: #4c6a2d;
  border-radius: 20px;
  margin-top: 20px;
}
.about header h1 {
  font-size: 4rem;
  padding-top: 35px;
  padding-left: 350px;
  color: yellow;
}
.about img {
  border-radius: 20px;
}
.about .project-manager {
  display: flex;
  justify-content: space-evenly;
  margin-left: 5%;
  color: orange;
}
.about .managers {
  margin-left: 45%;
}
.about .front-end {
  display: flex;
  justify-content: space-evenly;
}
.about .team-lead {
  margin-left: 50%;
  margin-bottom: 5%;
  color: orange;
}
.about .links li {
  margin: 0;
}
.about li {
  margin-top: 10%;
  color: orange;
}
.about .front-end {
  color: orange;
}
